<mat-sidenav-container>
  <mat-sidenav #sidenav role="navigation">
    <app-side-nav-list (sidenavClose)="sidenav.close()">
    </app-side-nav-list>
  </mat-sidenav>
  <mat-sidenav-content>
    <app-header (sideNavToggle)="sidenav.toggle()">
    </app-header>
    <main>
      <router-outlet></router-outlet>
    </main>
  </mat-sidenav-content>
</mat-sidenav-container>

<mat-toolbar>
  <button mat-button>TODO</button>
  <span class="spacer"></span>
  <ng-container *ngIf="user$ | async as user; else showLogin">
    <button mat-raised-button (click)="logout()">
      ログアウト
    </button>
  </ng-container>

  <ng-template #showLogin>
    <button mat-raised-button (click)="login()">ログイン</button>
  </ng-template>
</mat-toolbar>